body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23d9c608' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23cd9406' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23c26304' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23b63102' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #333;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}


@media (max-width: 768px) {
    nav li {
        margin: 10px 0;
    }
}